<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrderPlacementTests" parallel="tests" thread-count="2">
    <test name="checkEmptyCartMessage">
        <classes>
            <class name="com.softwaretestingboard.magento.OrderPlacementTests">
                <methods>
                    <include name="checkEmptyCartMessage"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="addItemToCart">
        <classes>
            <class name="com.softwaretestingboard.magento.OrderPlacementTests">
                <methods>
                    <include name="addItemToCart"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="removeItemFromCart">
        <classes>
            <class name="com.softwaretestingboard.magento.OrderPlacementTests">
                <methods>
                    <include name="removeItemFromCart"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="checkoutProduct">
        <classes>
            <class name="com.softwaretestingboard.magento.OrderPlacementTests">
                <methods>
                    <include name="checkoutProduct"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>